.navbar-div {
    border-radius: 50px;
    background-color: #fff;
    margin: 20px 10px;
    padding: 0px 20px;
}

.nav-logo img {
    width: 100px;
}

.nav-logo span {
    font-size: 30px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

