.homebanner {
    background-color: #1B2634;
    height: 100%;
    width: 100%;
    padding-top: 20px;
}

a {
    text-decoration: none;
}

.homebanner-left h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.homebanner-content {
    display: flex;
}

.homebanner-left, .homebanner-right {
    width: 50%;
}

.homebanner-right img {
    width: 24rem;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 0rem;
    z-index: 0;
    left: 50%;
    transform: translate(35%, 0);

}

.homebannerleft-inner {
    display: block;
    margin: 0 auto;
    width: 500px;
    margin-top: 6rem;

}

.homebannertext {
    font-size: 1.5em;
    line-height: 1.2em;
    color: #fff;
    margin-top: 0px !important;
}

.homebannersearch-div p {
    color: #fff;
}

.searchdiv input {
    padding: 15px;
    width: 100%;
    border-radius: 16px;
    
}

.homebannersearch-div svg {
    background: #2E90EB;
    width: 34px;
    fill: #fff;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    right: -40px;
    top: -2px;
}

.homebannersearch-div {
    margin-top: 3rem;
}


.searchdiv {
    position: relative;
}

.searchcategoryitem {
    color: #fff;
    display: flex;
    align-items: center;
    background: #00000054;
    padding: 15px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 20px;
}

.homesearchcategories {
    display: flex;
    justify-content: space-between;
    width: 115%;
    margin-top: 20px;
}

.searchcategoryitem img {
    width: 25px;
    margin-left: 10px;
}

/* Most Popular Category Div */

.mostpopularcategory {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.mostpopularcategory svg {
    width: 30px;
    margin-left: 10px;
}

.viewall-div  {
   font-size: 18px;
   color: #2E90EB;
   display: flex;
   align-items: center;
}
.viewall-div svg {
    width: 30px;
    margin-left: 10px;
}

.popularcategory-div {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.categoryitem1 {
    background:url(../imgs/3dbg.png);
}

.categoryitem2 {
    background:url(../imgs/vectorbg.png);
}

.categoryitem3 {
    background:url(../imgs/lottebg.png);
}

.categoryitem4 {
    background:url(../imgs/freeassetsbg.png);
}

.categoryitem {
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.categories-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.categoryitem img {
    width: 30px;
}

.categoryitem p {
    color: #fff;
}
body {
    background-color: #1B2634;
    height: 100vh;
    width: 100%;
    padding-top: 20px;
}

a {
    text-decoration: none;
}

.homebanner-left h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.homebanner-content {
    display: flex;
}

.homebanner-left, .homebanner-right {
    width: 50%;
}

.homebanner-right img {
    width: 24rem;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 0rem;
    z-index: 0;
    left: 50%;
    transform: translate(35%, 0);

}

.homebannerleft-inner {
    display: block;
    margin: 0 auto;
    width: 500px;
    margin-top: 6rem;

}

.homebannertext {
    font-size: 1.5em;
    line-height: 1.2em;
    color: #fff;
    margin-top: 0px !important;
}

.homebannersearch-div p {
    color: #fff;
}

.searchdiv input {
    padding: 15px;
    width: 100%;
    border-radius: 16px;
    
}

.homebannersearch-div svg {
    background: #2E90EB;
    width: 34px;
    fill: #fff;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    right: -40px;
    top: -2px;
}

.homebannersearch-div {
    margin-top: 3rem;
}


.searchdiv {
    position: relative;
}

.searchcategoryitem {
    color: #fff;
    display: flex;
    align-items: center;
    background: #00000054;
    padding: 15px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 20px;
}

.homesearchcategories {
    display: flex;
    justify-content: space-between;
    width: 115%;
    margin-top: 20px;
}

.searchcategoryitem img {
    width: 25px;
    margin-left: 10px;
}

/* Most Popular Category Div */

.mostpopularcategory {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.mostpopularcategory svg {
    width: 30px;
    margin-left: 10px;
}

.viewall-div  {
   font-size: 18px;
   color: #2E90EB;
   display: flex;
   align-items: center;
}
.viewall-div svg {
    width: 30px;
    margin-left: 10px;
}

.popularcategory-div {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.categoryitem1 {
    background:url(../imgs/3dbg.png);
}

.categoryitem2 {
    background:url(../imgs/vectorbg.png);
}

.categoryitem3 {
    background:url(../imgs/lottebg.png);
}

.categoryitem4 {
    background:url(../imgs/freeassetsbg.png);
}

.categoryitem {
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.categories-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.categoryitem img {
    width: 30px;
}

.categoryitem p {
    color: #fff;
}

footer {
    background-color: #fff;
}

.uploadtext {
    text-align: center;
    color: #fff;
}



/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 auto;
    display: block;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

.searchdiv input {
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
    width: 100%;
    border-radius: 16px;
}


.homebannerleft-inner h2 {
    font-size: 3rem;
    text-align: center;
}

.homebannertext {
    text-align: center;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: center;

    margin-bottom: 30px;

}

.form-item, .form-item input{
width: 100%;
text-align: center;
}


.form-item input{
    border: 2px solid transparent;

    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
    }


.homebannersearch-div p {
    margin-right: 10px;
    font-size: 24px;
}